<div class="information">
    <div class="footer__introduction__wrapper grid">
        <div class="footer__introduction wide">
            <div class="footer__introduction__shopee">
                <h1 class="footer__introduction__shopee__title">
                    SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE
                </h1>
                <p class="footer__introduction__shopee__content">
                    Shopee - ứng dụng mua sắm trực tuyến thú vị, tin cậy, 
                    an toàn và miễn phí! Shopee là nền tảng giao dịch trực tuyến 
                    hàng đầu ở Đông Nam Á, Việt Nam, 
                <a href="" class=""> Singapore</a>, 
                <a href="" class=""> Malaysia</a>, 
                <a href="" class="">Indonesia</a>, 
                <a href="" class=""> Thái Lan</a> , 
                <a href="" class="">Philipin</a>, 
                <a href="" class=""> Đài Loan</a>  và 
                <a href="" class="">Brazil</a>. 
                Với sự đảm bảo của Shopee, bạn sẽ mua hàng trực tuyến 
                    an tâm và nhanh chóng hơn bao giờ hết!
                </p>
            </div>

            <div class="footer__introduction__shopee">
                <h1 class="footer__introduction__shopee__title">
                    MUA SẮM VÀ BÁN HÀNG ONLINE ĐƠN GIẢN, NHANH CHÓNG VÀ AN TOÀN
                </h1>
                <p class="footer__introduction__shopee__content">
                    Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến 
                    thì Shopee.vn là một sự lựa chọn tuyệt vời dành cho bạn. 
                    Bản chất của Shopee là một social E-commerce platform - nền tảng 
                    trang web thương mại điện tử tích hợp mạng xã hội. Điều này cho 
                    phép người mua và người bán hàng dễ dàng tương tác, trao đổi thông tin 
                    về sản phẩm và chương trình khuyến mãi của shop. Nhờ nền tảng đó, 
                    việc mua bán trên Shopee trở nên nhanh chóng và đơn giản hơn. 
                    Bạn có thể trò chuyện trực tiếp với nhà bán hàng để hỏi trực tiếp 
                    về mặt hàng cần mua. Còn nếu bạn muốn tìm mua những dòng sản phẩm chính hãng, 
                    uy tín, <a href="">Shopee Mall </a> chính là sự lựa chọn lí tưởng dành cho bạn. 
                    Để bạn có thể dễ dàng khi tìm hiểu và sử dụng sản phẩm, 
                    <a href="">Shopee Blog</a>  - trang blog thông tin chính thức của Shopee - sẽ giúp bạn có thể 
                    tìm được cho mình các kiến thức về xu hướng thời trang, review công nghệ, 
                    mẹo làm đẹp, tin tức tiêu dùng và deal giá tốt bất ngờ. 
                    
                </p>
                <p class="footer__introduction__shopee__content">
                    Đến với Shopee, cơ hội để trở thành một nhà bán hàng dễ dàng hơn bao giờ hết. 
                    Chỉ với vài thao tác trên ứng dụng, bạn đã có thể đăng bán ngay những sản phẩm của mình. 
                    Không những thế, các nhà bán hàng có thể <a href="">tự tạo chương trình khuyến mãi trên 
                    Shopee</a>  để thu hút người mua với những sản phẩm có mức giá hấp dẫn. Khi đăng nhập 
                    tại Shopee Kênh người bán, bạn có thể dễ dàng phân loại sản phẩm, theo dõi đơn hàng,
                    chăm sóc khách hàng và cập nhập ngay các hoạt động của shop.     
                </p>
            </div>

            <div class="footer__introduction__shopee">
                <h1 class="footer__introduction__shopee__title">
                    TẢI ỨNG DỤNG SHOPEE NGAY ĐỂ MUA BÁN ONLINE MỌI LÚC, MỌI NƠI
                </h1>
                <p class="footer__introduction__shopee__content">
                    Ưu điểm của ứng dụng Shopee là cho phép bạn mua và bán hàng mọi lúc, mọi nơi. 
                    Bạn có thể tải ứng dụng Shopee cũng như đăng sản phẩm bán hàng một cách nhanh 
                    chóng và tiện lợi. Ngoài ra, ứng dụng Shopee còn có những ưu điểm sau: - Giao diện 
                    thân thiện, đơn giản, dễ sử dụng. Bạn sẽ dễ dàng thấy được ngay những sản phẩm nổi 
                    bật cũng như dễ dàng tìm đến các ô tìm kiếm, giỏ hàng hoặc tính năng chat liền tay. 
                    - Ứng dụng tích hợp công nghệ quản lý đơn mua và bán hàng tiện lợi trên cùng một tài khoản. 
                    Bạn sẽ vừa là người mua hàng, vừa là người bán hàng rất linh hoạt, dễ dàng. - 
                    Cập nhập thông tin khuyến mãi, <a href="">Shopee flash sale</a> nhanh chóng và liên tục. Tại Shopee, 
                    bạn có thể lấy các <a href="">mã giảm giá Shopee</a> và <a href=""> mã miễn phí vận chuyển toàn quốc</a>. Bên cạnh đó, 
                    Shopee cũng sẽ có những chiến dịch khuyến mãi lớn hằng năm như <a href="">Siêu hội mua sắm 4.4</a> , 
                    <a href="">Shopee 9.9 sale</a>, <a href=""> Shopee 10.10 sale</a>, <a href="">Shopee 11.11 sale</a> , 
                    <a href="">Shopee 12.12 sale</a> , <a href="">Shopee Tết Sale</a> .
                    Đây là thời điểm để người mua hàng có thể nhanh tay chọn ngay cho mình những mặt hàng ưa 
                    thích với mức giá giảm kỉ lục.
                </p>
            </div>

            <div class="footer__introduction__shopee">
                <h1 class="footer__introduction__shopee__title">
                    MUA HÀNG HIỆU CAO CẤP GIÁ TỐT TẠI SHOPEE
                </h1>
                <p class="footer__introduction__shopee__content">
                    Bên cạnh <a href="">Shopee Premium</a> , Shopee còn có rất nhiều khuyến mãi khủng cho <a href="">hàng hiệu giảm đến 50%</a> . 
                    Cộng với mã giao hàng miễn phí, Shopee cũng có các mã giảm giá được phân phối mỗi tháng từ rất 
                    nhiều gian hàng chính hãng tham gia chương trình khuyến mãi này. Bên cạnh đó, Shopee còn tập hợp 
                    rất nhiều thương hiệu đình đám được các nhà bán lẻ uy tín phân phối bán trên Shopee, đem đến cho 
                    bạn sự lựa chọn đa dạng, từ các hãng mỹ phẩm nổi tiếng hàng đầu như <a href="">Kiehl's</a>, <a href="">Fresh</a> , 
                    <a href="">The Ordinary</a>, <a href="">Foreo</a> , <a href="">Transino</a> , <a href="">SK-II</a> ... 
                    Đến những thương hiệu công nghệ nổi tiếng như <a href="">camera hành trình Gopro</a> , 
                    <a href="">loa Marshall</a>, <a href="">bảng vẽ điện tử Huion</a> , <a href="">máy quay DJI Osmo Pocket</a> , 
                    <a href="">loa Harman Kardon</a> , <a href="">Razer</a> ... 
                </p>
            </div>

            <div class="footer__introduction__shopee">
                <h1 class="footer__introduction__shopee__title">
                    MUA HÀNG CHÍNH HÃNG TỪ CÁC THƯƠNG HIỆU LỚN VỚI SHOPEE
                </h1>
                <p class="footer__introduction__shopee__content">
                    Mua hàng trên Shopee luôn là một trải nghiệm ấn tượng. Dù bạn đang có nhu cầu mua bất kỳ mặt hàng <a href="">thời trang nam</a>, 
                    <a href="" > thời trang nữ</a>, <a href="">đồng hồ</a>, <a href="">điện thoại</a> , <a href="">nước rửa tay khô</a> hay 
                    <a href=""> khẩu trang N95</a> thì Shopee cũng sẽ đảm bảo cung cấp cho bạn 
                    những sản phẩm ưng ý. Bên cạnh đó, Shopee cũng có sự tham gia của các thương hiệu hàng đầu thế giới ở đa dạng nhiều 
                    lĩnh vực khác nhau. Trong đó có thể kể đến Samsung, OPPO, Xiaomi, Innisfree, Unilever, P&G, Biti’s,...Các thương hiệu 
                    này hiện cũng đã có cửa hàng chính thức trên Shopee Mall với hàng trăm mặt hàng chính hãng, được cập nhập liên tục. 
                    Là một kênh bán hàng uy tín, Shopee luôn cam kết mang lại cho khách hàng những trải nghiệm mua sắm online giá rẻ, an 
                    toàn và tin cậy. Mọi thông tin về người bán và người mua đều được bảo mật tuyệt đối. Các hoạt động giao dịch thanh toán 
                    tại Shopee luôn được đảm bảo diễn ra nhanh chóng, an toàn. Một vấn đề nữa khiến cho các khách hàng luôn quan tâm đó chính 
                    là mua hàng trên Shopee có đảm bảo không. Shopee luôn cam kết mọi sản phẩm trên Shopee, đặc biệt là Shopee Mall đều là 
                    những sản phẩm chính hãng, đầy đủ tem nhãn, bảo hành từ nhà bán hàng. Ngoài ra, Shopee bảo vệ người mua và người bán bằng 
                    cách giữ số tiền giao dịch đến khi người mua xác nhận đồng ý với đơn hàng và không có yêu cầu khiếu nại, trả hàng hay 
                    hoàn tiền nào. Thanh toán sau đó sẽ được chuyển đến cho người bán.
                </p>

                <p class="footer__introduction__shopee__content">
                    Đến với Shopee ngay hôm nay để mua hàng online giá rẻ và trải nghiệm dịch vụ chăm sóc khách hàng tuyệt vời tại đây. 
                    Đặc biệt khi mua sắm trên Shopee Mall, bạn sẽ được miễn phí vận chuyển, giao hàng tận nơi và 7 ngày miễn phí trả hàng. 
                    Ngoài ra, khách hàng có thể sử dụng <a href="">Shopee Xu</a> để đổi lấy mã giảm giá có giá trị cao và voucher dịch vụ hấp dẫn. 
                    Tiếp đến là <a href=""> Shopee Mum's Club</a>, <a href=""> Shopee Beauty Club</a> và <a href="">Shopee Book Club</a> với các ưu đãi độc quyền từ các thương hiệu 
                    lớn có những khách hàng đã đăng ký làm thành viên. Hãy truy cập ngay Shopee.vn hoặc tải ngay ứng dụng Shopee về 
                    điện thoại ngay hôm nay!
                </p>
            </div>
        </div>
    </div>

    <div class="footer__catalog__wrapper grid">
        <div class="footer__catalog wide">
            <h5 class="footer__catalog__title">
                Danh Mục
            </h5>

            <div class="footer__catalog__content">
                <div class="footer__catalog__content__col">
                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THỜI TRANG NAM
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Áo Khoác
                            </a>
                            <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Áo Vest và Blazer
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                áo Hoodie, Áo Len & Áo Nỉ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần Jeans
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần Dài/Quần Âu
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần Short
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Áo
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Áo Ba Lỗ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Lót
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Ngủ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Bộ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vớ/Tất
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang Phục Truyền Thống
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Hóa Trang
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang Phục Ngành Nghề 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang Sức Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Kính Mắt Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thắt Lưng nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Cà vạt & Nơ cổ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phục Kiện Nam
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                NHÀ CỬA & ĐỜI SỐNG
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Chăn, Ga, Gối & Nệm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ nội thất
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ cầm tay
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang trí nhà cửa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ & Thiết bị tiện ích
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ dùng nhà bếp & Phòng ăn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đèn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ngoài trời & Sân vườn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tử dụng & Hộp lưu trữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ dùng phòng tắm
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            ĐỒNG HỒ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đồng Hồ Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồng Hồ Nữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bộ Đồng Hồ & Đồng Hồ Cặp
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồng Hồ Trẻ Em
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phục Kiện Đồng Hồ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            BALO & TÚI VÍ NAM
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Ba Lô Nam 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ba Lô Laptop Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi & Cặp Đựng Laptop
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi Chống Sốc Laptop Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi Tote Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Cặp Xách Công Sở Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ví Cầm Tay Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi Đeo Hông & Túi Đeo Ngực Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi Đeo Chéo Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bóp/Ví Nam
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            DEAL GẦN BẠN
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Scan & Pay Voucher
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Deal
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer__catalog__content__col">
                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THỜI TRANG NỮ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Quần 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần đùi
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chân váy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần Jeans
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đầm/Váy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Váy cưới
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ liền thân
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Áo khoác, Áo choàng & Vest
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Áo len & Cardigan
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Hoodie và Áo nỉ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bộ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Lót
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ tập 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ Bầu
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ truyền thống 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vải
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ hóa trang
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vớ/Tất
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                MÁY TÍNH & LAPTOP
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Máy tính bàn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Màn hình
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Linh kiện máy tính
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị lưu trữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị mạng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Máy in, Máy scan & Máy chiếu
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện máy tính
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Laptop
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Gaming
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            GIÀY DÉP NỮ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Bốt
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày thể thao/Sneaker
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày đế bằng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày cao gót
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày đế xuồng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sandals & Dép
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện giày
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THỂ THAO & DU LỊCH
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Vali 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi du lịch
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện du lịch
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ thể thao & Dã ngoại
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày thể thao
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thời trang thể thao & Dã ngoại
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện thể thao & Dã ngoại
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THỜI TRANG TRẺ EM
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Scan & Pay Voucher
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang phục bé trai
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang phục bé gái
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày dép bé trai
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày dép bé gái
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần áo em bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày tập đi & Tất sơ sinh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện trẻ em
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            VOUCHER & DỊCH VỤ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Nhà hàn & Ăn uống
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sự kiện & Giải trí
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Nạp tiền tại khoản
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sức khỏe & Làm đẹp
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Gọi xe
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khóa học
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Du lịch & Khách sạn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Mua sắm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thanh toán hóa đơn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dịch vụ khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tiền điện tử
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thẻ game
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Streaming
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer__catalog__content__col">
                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            ĐIỆN THOẠI & PHỤ KIỆN
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Điện thoại
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Máy tính bảng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Pin dự phòng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Pin gắn trong, Cáp và Bộ sạc
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ốp lưng, bao da, Miếng dán điện thoại
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bảo vệ màn hình
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đế giữ điện thoại & Gậy chụp hình
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thẻ nhớ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sim
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Điện thoại bàn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                SẮC ĐẸP
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Tắm & chăm sóc cơ thể 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc tay, chân & móng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc tóc
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc nam giới
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Nước hoa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Trang điểm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ làm đẹp
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc da mặt
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bộ sản phẩm làm đẹp
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            GIÀY DÉP NAM
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Bốt
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày thể thao/Sneaker
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày sục
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày tây lười
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày Oxfords & Giày buộc dây
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sandals & Dép
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện giày dép
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giày khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            BÁCH HÓA ONLINE
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ ăn vặt
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chế biến sẵn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Nhu yếu phẩm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Nguyên liệu nấu ăn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ làm bánh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sữa - trứng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ uống
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ngũ cố & Mứt
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Các loại bánh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ uống có cồn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bộ quà tặng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thực phẩm tươi sống và thực phẩm đông lạnh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            ĐỒ CHƠI
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi mô hình
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi giải trí
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi giáo dục
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi cho trẻ sơ sinh & trẻ nhỏ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi vận động & ngoài trời 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Búp bê & Đồ chơi nhồi bông
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer__catalog__content__col">
                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            MẸ & BÉ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ dùng du lịch cho bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện cho mẹ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc sức khỏe mẹ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ dụng phòng tắm & Chăm sóc cơ thể bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ dùng phòng ngủ cho bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                An toàn cho bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc sức khỏe bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tã & Bô em bé
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ chơi
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bộ & Gói quà tặng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sữa công thức trên 24 tháng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sữa công thức 0-24 tháng tuổi
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                MÁY ẢNH & MÁY QUAY PHIM
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Máy ảnh - Máy quay phim
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Camera giám sát & Camera hệ thống
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thẻ nhớ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị lưu trữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị mạng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ống kính
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện máy ảnh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Máy bay camera & Phụ kiện
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            TÚI VÍ NỮ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Ba lô nữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Cặp laptop
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ví dự tiệc & Ví cầm tay
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi đeo hông & Túi đeo ngực
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi Tote
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi quai xách
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi đeo chéo & Túi đeo vai 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Ví/Bóp Nữ
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện túi
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            Ô TÔ & XE MÁY & XE ĐẠP
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Xe đạp, Xe điện
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Mô tô, Xe máy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Xe Ô tô
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Mũ bảo hiểm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện xe máy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ tùng xe máy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc xe máy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ tùng, phụ kiện xe đạp, xe đạp điện
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc, sửa chữa xe
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc ô tô
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            GIẶT GIŨ & CHAM SÓC NHÀ CỬA
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Giặt giũ & Chăm sóc nhà cửa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Giấy vệ sinh, khăn giấy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vệ sinh nhà cửa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vệ sinh bát đĩa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ vệ sinh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chất khử mùi, làm thơm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thuốc diệt côn trùng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Túi, màng bọc thực phẩm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Bao bì, túi đựng rác
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer__catalog__content__col">
                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THIẾT BỊ ĐIỆN TỬ
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị đeo thông minh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện tivi
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Máy Game Console
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện Console
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Game Console
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị điện tử
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Loa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tai nghe
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tivi
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tivi Box
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                SỨC KHỎE
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Thực phẩm chức năng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vật tư y tế
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc cá nhân
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Hỗ trợ tình dục
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            THIẾT BỊ ĐIỆN GIA DỤNG
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ gia dụng nhà bếp
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Đồ gia dụng lớn
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Máy hút bụi & Thiết bị làm sạch
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quạt & Máy nóng lạnh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Thiết bị chăm sóc quần áo
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                                NHÀ SÁCH ONLINE
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Đĩa than 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Album ảnh
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Dụng cụ may vá
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Tạp chí & báo giấy
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Sách
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                E-Books
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Văn phòng phẩm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quà lưu niệm
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Băng - Đĩa
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Nhạc cụ & Phụ kiện
                            </a>
                        </div>
                    </div>

                    <div class="footer__catalog__list">
                        <a href="" class="footer__catalog__list__title">
                            CHĂM SÓC THÚ CƯNG
                        </a>

                        <div class="footer__catalog__list__item">
                            <a href="" class="footer__catalog__list__item__link">
                                Thứ ăn thú cưng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Phụ kiện cho thú cưng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Vệ sinh cho thú cưng
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Quần áo & Phụ kiện
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Chăm sóc sức khỏe 
                            </a>
                                <span class="footer__catalog__separate-mark"></span>
                            <a href="" class="footer__catalog__list__item__link">
                                Khác
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {{!-- voucher --}}
    <div class="voucher__wrapper">
        <a href="" class="voucher__link">
            <div class="voucher"></div>
        </a>
    </div>
</div>