<footer class="footer information">
    <div class="footer__customer__wrapper grid">
        <div class="footer__customer wide">
            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    CHĂM SÓC KHÁCH HÀNG
                </h3>
                <ul class="footer__customer__col__list"></ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    VỀ SHOPEE
                </h3>
                <ul class="footer__customer__col__list footer__about__shopee"></ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    THANH TOÁN
                </h3>
                <div class="footer__customer__col__payment">
                    <div class="footer__customer__payment__item visa-image"></div>
                    <div class="footer__customer__payment__item mastercard-image"></div>
                    <div class="footer__customer__payment__item jcb-image"></div>
                    <div class="footer__customer__payment__item amex-image"></div>
                    <div class="footer__customer__payment__item cod-image"></div>
                    <div class="footer__customer__payment__item installment-image"></div>
                    <div class="footer__customer__payment__item shopeepay-image"></div>
                </div>

                <h3 class="footer__customer__col__title">
                    ĐƠN VỊ VẬN CHUYỂN
                </h3>
                <div class="footer__customer__col__delivery">
                    <div class="footer__customer__delivery__item shopeexpress-image"></div>
                    <div class="footer__customer__delivery__item savedeli-image"></div>
                    <div class="footer__customer__delivery__item ghn-image"></div>
                    <div class="footer__customer__delivery__item viettelpost-image"></div>
                    <div class="footer__customer__delivery__item vietnampost-image"></div>
                    <div class="footer__customer__delivery__item jtexpress-image"></div>
                    <div class="footer__customer__delivery__item grabexpres-image"></div>
                    <div class="footer__customer__delivery__item ninja-image"></div>
                    <div class="footer__customer__delivery__item bestexpress-image"></div>
                </div>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    THEO DÕI CHÚNG TÔI TRÊN
                </h3>
                <ul class="footer__customer__col__list">
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-facebook"></a>
                        <a href="" class="footer__customer__item__link">
                            Facebook
                        </a>
                    </li>
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-instagram"></a>
                        <a href="" class="footer__customer__item__link">
                            Instagram
                        </a>
                    </li>
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-linkedin"></a>
                        <a href="" class="footer__customer__item__link">
                            Linkedln
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    TẢI ỨNG DỤNG SHOPEE NGAY THÔI
                </h3>
                <div class="footer__customer__col__download">
                    <a href="" class="footer__customer__download__qrcode-link">
                        <img src="./images/QRshopee.png" alt="" class="footer__customer__download__qrcode">
                    </a>
                    <span class="footer__customer__download__app">
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/appstore.png" alt="">
                        </a>
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/chplay.png" alt="">
                        </a>
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/gallary.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__site__wrapper grid">
        <div class="footer__site wide">
            <div class="footer__site__copyright">
                © 2021 Shopee. Tất cả các quyền được bảo lưu.
            </div>

            <div class="footer__site__countries">
                Quốc gia & Khu vực:
                <a href="" class="footer__site__countries__link">Singapore</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Indonesia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Đài Loan</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Thái Lan</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Malaysia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Việt Nam</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Philippines</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Brazil</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Mexico</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Colombia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Chile</a>
            </div>
        </div>
    </div>

    <div class="footer__prestige__wrapper grid">
        <div class="footer__prestige wide">
            <div class="footer__prestige__policy">
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH BẢO MẬT
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        QUY CHẾ HOẠT ĐỘNG
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH VẬN CHUYỂN
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
                    </a>
                </div>
            </div>

            <div class="footer__prestige__ministry">
                <div class="footer__prestige__ministry__image footer__industry"></div>
                <div class="footer__prestige__ministry__image footer__industry"></div>
                <div class="footer__prestige__ministry__image footer__fingerprint"></div>
            </div>

            <p class="footer__prestige__company">
                Công ty TNHH Shopee
            </p>

            <p class="footer__prestige__infomation">
                Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn
                <br>
                Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)
                <br>
                Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
                <br>
                © 2015 - Bản quyền thuộc về Công ty TNHH Shopee
            </p>
        </div>
        
        <div class="chat__wrapper">
            <div class="chat">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="chat-icon">
                    <path d="M18 6.07a1 1 0 01.993.883L19 7.07v10.365a1 1 0 01-1.64.768l-1.6-1.333H6.42a1 1 0 01-.98-.8l-.016-.117-.149-1.783h9.292a1.8 1.8 0 001.776-1.508l.018-.154.494-6.438H18zm-2.78-4.5a1 1 0 011 1l-.003.077-.746 9.7a1 1 0 01-.997.923H4.24l-1.6 1.333a1 1 0 01-.5.222l-.14.01a1 1 0 01-.993-.883L1 13.835V2.57a1 1 0 011-1h13.22zm-4.638 5.082c-.223.222-.53.397-.903.526A4.61 4.61 0 018.2 7.42a4.61 4.61 0 01-1.48-.242c-.372-.129-.68-.304-.902-.526a.45.45 0 00-.636.636c.329.33.753.571 1.246.74A5.448 5.448 0 008.2 8.32c.51 0 1.126-.068 1.772-.291.493-.17.917-.412 1.246-.74a.45.45 0 00-.636-.637z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22" class="chat-text">
                    <path d="M9.286 6.001c1.161 0 2.276.365 3.164 1.033.092.064.137.107.252.194.09.085.158.064.203 0 .046-.043.182-.194.251-.26.182-.17.433-.43.752-.752a.445.445 0 00.159-.323c0-.172-.092-.3-.227-.365A7.517 7.517 0 009.286 4C5.278 4 2 7.077 2 10.885s3.256 6.885 7.286 6.885a7.49 7.49 0 004.508-1.484l.022-.043a.411.411 0 00.046-.71v-.022a25.083 25.083 0 00-.957-.946.156.156 0 00-.227 0c-.933.796-2.117 1.205-3.392 1.205-2.846 0-5.169-2.196-5.169-4.885C4.117 8.195 6.417 6 9.286 6zm32.27 9.998h-.736c-.69 0-1.247-.54-1.247-1.209v-3.715h1.96a.44.44 0 00.445-.433V9.347h-2.45V7.035c-.021-.043-.066-.065-.111-.043l-1.603.583a.423.423 0 00-.29.41v1.362h-1.781v1.295c0 .238.2.433.445.433h1.337v4.19c0 1.382 1.158 2.505 2.583 2.505H42v-1.339a.44.44 0 00-.445-.432zm-21.901-6.62c-.739 0-1.41.172-2.013.496V4.43a.44.44 0 00-.446-.43h-1.788v13.77h2.234v-4.303c0-1.076.895-1.936 2.013-1.936 1.117 0 2.01.86 2.01 1.936v4.239h2.234v-4.561l-.021-.043c-.202-2.088-2.012-3.723-4.223-3.723zm10.054 6.785c-1.475 0-2.681-1.12-2.681-2.525 0-1.383 1.206-2.524 2.681-2.524 1.476 0 2.682 1.12 2.682 2.524 0 1.405-1.206 2.525-2.682 2.525zm2.884-6.224v.603a4.786 4.786 0 00-2.985-1.035c-2.533 0-4.591 1.897-4.591 4.246 0 2.35 2.058 4.246 4.59 4.246 1.131 0 2.194-.388 2.986-1.035v.604c0 .237.203.431.453.431h1.356V9.508h-1.356c-.25 0-.453.173-.453.432z"></path>
                    </svg>
            </div>

            <div class="chat__table">
                <div class="chat__table__header">
                    <span class="chat__table__header__title">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 22" class="chat__header__title-icon">
                            <path d="M9.286 6.001c1.161 0 2.276.365 3.164 1.033.092.064.137.107.252.194.09.085.158.064.203 0 .046-.043.182-.194.251-.26.182-.17.433-.43.752-.752a.445.445 0 00.159-.323c0-.172-.092-.3-.227-.365A7.517 7.517 0 009.286 4C5.278 4 2 7.077 2 10.885s3.256 6.885 7.286 6.885a7.49 7.49 0 004.508-1.484l.022-.043a.411.411 0 00.046-.71v-.022a25.083 25.083 0 00-.957-.946.156.156 0 00-.227 0c-.933.796-2.117 1.205-3.392 1.205-2.846 0-5.169-2.196-5.169-4.885C4.117 8.195 6.417 6 9.286 6zm32.27 9.998h-.736c-.69 0-1.247-.54-1.247-1.209v-3.715h1.96a.44.44 0 00.445-.433V9.347h-2.45V7.035c-.021-.043-.066-.065-.111-.043l-1.603.583a.423.423 0 00-.29.41v1.362h-1.781v1.295c0 .238.2.433.445.433h1.337v4.19c0 1.382 1.158 2.505 2.583 2.505H42v-1.339a.44.44 0 00-.445-.432zm-21.901-6.62c-.739 0-1.41.172-2.013.496V4.43a.44.44 0 00-.446-.43h-1.788v13.77h2.234v-4.303c0-1.076.895-1.936 2.013-1.936 1.117 0 2.01.86 2.01 1.936v4.239h2.234v-4.561l-.021-.043c-.202-2.088-2.012-3.723-4.223-3.723zm10.054 6.785c-1.475 0-2.681-1.12-2.681-2.525 0-1.383 1.206-2.524 2.681-2.524 1.476 0 2.682 1.12 2.682 2.524 0 1.405-1.206 2.525-2.682 2.525zm2.884-6.224v.603a4.786 4.786 0 00-2.985-1.035c-2.533 0-4.591 1.897-4.591 4.246 0 2.35 2.058 4.246 4.59 4.246 1.131 0 2.194-.388 2.986-1.035v.604c0 .237.203.431.453.431h1.356V9.508h-1.356c-.25 0-.453.173-.453.432z"></path>
                        </svg>
                    </span>
                    <span class="chat__table__header__arrow">
                        <span class="chat__header__arrow__wrapper left__right__arrow__wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="chat__header__right-arrow">
                                <path d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H9v-1h5V2H9V1h5zM2 13v1h1v1H2a1 1 0 01-.993-.883L1 14v-1h1zm6 1v1H4v-1h4zM2 3.999V12H1V3.999h1zm5.854 1.319l2.828 2.828a.5.5 0 010 .708l-2.828 2.828a.5.5 0 11-.708-.707L9.121 9H4.5a.5.5 0 010-1h4.621L7.146 6.025a.5.5 0 11.708-.707zM3 1v1H2v.999H1V2a1 1 0 01.883-.993L2 1h1zm5 0v1H4V1h4z"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="chat__header__left-arrow" style="display: none;">
                                <path d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H9v-1h5V2H9V1h5zM2 13v1h1v1H2a1 1 0 01-.993-.883L1 14v-1h1zm6 1v1H4v-1h4zM2 3.999V12H1V3.999h1zm4.975 1.319a.5.5 0 01.707.707L5.707 8h4.621a.5.5 0 010 1h-4.62l1.974 1.975a.5.5 0 01-.707.707L4.146 8.854a.5.5 0 010-.708zM3 1v1H2v.999H1V2a1 1 0 01.883-.993L2 1h1zm5 0v1H4V1h4z"></path>
                            </svg>
                        </span>
                        <span class="chat__header__arrow__wrapper down__arrow__wrapper">
                            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="chat__header__down-arrow">
                                <path d="M14 1a1 1 0 011 1v12a1 1 0 01-1 1H2a1 1 0 01-1-1V2a1 1 0 011-1h12zm0 1H2v12h12V2zm-2.904 5.268l-2.828 2.828a.5.5 0 01-.707 0L4.732 7.268a.5.5 0 11.707-.707l2.475 2.475L10.39 6.56a.5.5 0 11.707.707z"></path>
                            </svg>
                        </span>
                    </span>
                </div>
                <div class="chat__table__body">
                    <div class="chat__table__body__left">
                        <div class="chat__table__body__left__inner">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-seller-live-vn/chateasy/6abdc0872a25853b36d17e7498335326.png" alt="" class="chat__left__image">
                            <p class="chat__left__text">Xin Chào!</p>
                        </div>
                    </div>
                    <div class="chat__table__body__right">
                        <div class="chat__right__header">
                            <div class="chat__right__input__wrapper">
                                <input type="text" placeholder="Tìm theo tên khách hàng" class="chat__right__input">
                                    <div class="chat__right__search-icon__wrapper">
                                    <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" class="chat__right__search-icon">
                                        <g transform="translate(3 3)">
                                        <path d="M393.846 708.923c174.012 0 315.077-141.065 315.077-315.077S567.858 78.77 393.846 78.77 78.77 219.834 78.77 393.846s141.065 315.077 315.077 315.077zm0 78.77C176.331 787.692 0 611.36 0 393.845S176.33 0 393.846 0c217.515 0 393.846 176.33 393.846 393.846 0 217.515-176.33 393.846-393.846 393.846z"></path>
                                        <rect transform="rotate(135 825.098 825.098)" x="785.713" y="588.79" width="78.769" height="472.615" rx="1"></rect>
                                        </g>
                                    </svg>   
                                </div>                            
                            </div>
                            <div class="chat__right__list__wrapper">
                                Tất cả <i class="ti-angle-down"></i>

                                <div class="chat__right__list__items">
                                    <p class="chat__right__list__item">Tất cả</p>
                                    <p class="chat__right__list__item">Chưa đọc</p>
                                    <p class="chat__right__list__item">Đã Ghim</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat__right__body">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-seller-live-vn/chateasy/143e062750363ec2d5f8d5601a9b595a.png" alt="" class="chat__body__right__image">
                            <p class="chat__body__right__text">Không tìm thấy cuộc hội thoại nào.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script>
     //    chat - watch all

    const watchAll = $('.chat__right__list__wrapper')
    watchAll.addEventListener('click', () => {
        document.querySelector('.chat__right__list__items').classList.toggle('display-block')
    })


    // collapse left chat
    const rightArrow = $('.chat__header__right-arrow')
    const chatTable = $('.chat__table')
    const leftChat = $('.chat__table__body__left')
    const arrowLRWrapper = $('.left__right__arrow__wrapper')
    const leftArrow = $('.chat__header__left-arrow')
    const arrowDWrapper = $('.down__arrow__wrapper')
    const chat = $('.chat')

    arrowLRWrapper.onclick = function() {
        chatTable.classList.toggle('collapse__left__chat')
        if(leftArrow.style.display == 'none') {
            leftArrow.style.display = 'block'
            rightArrow.style.display = 'none'
        } else {
            leftArrow.style.display = 'none'
            rightArrow.style.display = 'block'
        }
    }

    arrowDWrapper.onclick = function() {
        if(chatTable.matches('.diff__places__table--zoomIn')) {
            chatTable.classList.add('diff__places__table--zoomOut')
            chatTable.classList.remove('diff__places__table--zoomIn')
            setTimeout(function() {
                chatTable.style.display = 'none'
                chat.style.display = 'flex'
            },100)           
        }else {
            chatTable.classList.remove('diff__places__table--zoomOut')
            chatTable.classList.add('diff__places__table--zoomIn')
            chatTable.style.display = 'block'
        }
    }

    chat.onclick = function() {
        this.style.display = 'none'
        chatTable.classList.remove('diff__places__table--zoomOut')
        chatTable.classList.add('diff__places__table--zoomIn')
        chatTable.style.display = 'block'
    }

    // input of left body chat
    const inputLeftBody = $('.chat__right__input')
    const inputLeftWrapper = $('.chat__right__input__wrapper')
    const listWrapper = $('.chat__right__list__wrapper')

    inputLeftWrapper.onclick = function(event) {
        event.stopPropagation()
        if(inputLeftBody === document.activeElement) {
            inputLeftWrapper.style.outline = '1px solid #0088ff'
            listWrapper.style.display = 'none'
        }    
    }
</script>

{{!-- cham soc khach hang --}}
<script>
    const footerCustomerList = [
        "Trung Tâm Trợ Giúp",
        "Tuyển Dụng",
        "Điều Khoản Shopee",
        "Chính Hãng",
        "Thanh Toán",
        "Shopee Xu",
        "Vận Chuyển",
        "Trả Hàng & Hoàn Tiền",
        "Chăm Sóc Khách Hàng",
        "Chính Sách Bảo Hành"
    ]
    const footerCustomers = $('.footer__customer__col__list')
    const footerCustomerRender = footerCustomerList.map(footerCustomerItem => {
        return `
            <li class="footer__customer__list__item">
                <a href="" class="footer__customer__item__link">
                    ${footerCustomerItem}
                </a>
            </li>
        `
    })
    footerCustomers.innerHTML = footerCustomerRender.join('')
</script>

{{!-- Ve shopee --}}

<script>
    const footerAboutShoopeeList = [
        "Giới Thiệu Về Shopee Việt Nam",
        "Shopee Blog",
        "Shopee Mall",
        "Hướng Dẫn Mua Hàng",
        "Flash Sales",
        "Liên Hệ Với Truyền Thông",
    ]
    const footerAboutShoopee = $('.footer__about__shopee')
    console.log(footerAboutShoopee)
    const footerAboutShoopeeRender = footerAboutShoopeeList.map(footerAboutShoopeeItem => {
        return `
            <li class="footer__customer__list__item">
                <a href="" class="footer__customer__item__link">
                    ${footerAboutShoopeeItem}
                </a>
            </li>
        `
    })
    footerAboutShoopee.innerHTML = footerAboutShoopeeRender.join('')
</script>