<footer class="footer">
    <div class="footer__customer__wrapper grid">
        <div class="footer__customer wide">
            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    CHĂM SÓC KHÁCH HÀNG
                </h3>
                <ul class="footer__customer__col__list">
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Trung Tâm Trợ Giúp
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Shopee Blog
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Shopee Mall
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Hướng Dẫn Mua Hàng
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Hướng Dẫn Bán Hàng
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Thanh Toán
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Shopee Xu
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Vận Chuyển
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Trả Hàng & Hoàn Tiền
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Chăm Sóc Khách Hàng
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Chính Sách Bảo Hành
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    VỀ SHOPEE
                </h3>
                <ul class="footer__customer__col__list">
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Giới Thiệu Về Shopee Việt Nam
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Tuyển Dụng
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Điều Khoản Shopee
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Chính Hãng
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Flash Sales
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Chương Trình Tiếp Thị Liên Kết Shopee
                        </a>
                    </li>
                    <li class="footer__customer__list__item">
                        <a href="" class="footer__customer__item__link">
                            Liên Hệ Với Truyền Thông
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    THANH TOÁN
                </h3>
                <div class="footer__customer__col__payment">
                    <div class="footer__customer__payment__item visa-image"></div>
                    <div class="footer__customer__payment__item mastercard-image"></div>
                    <div class="footer__customer__payment__item jcb-image"></div>
                    <div class="footer__customer__payment__item amex-image"></div>
                    <div class="footer__customer__payment__item cod-image"></div>
                    <div class="footer__customer__payment__item installment-image"></div>
                    <div class="footer__customer__payment__item shopeepay-image"></div>
                </div>

                <h3 class="footer__customer__col__title">
                    ĐƠN VỊ VẬN CHUYỂN
                </h3>
                <div class="footer__customer__col__delivery">
                    <div class="footer__customer__delivery__item shopeexpress-image"></div>
                    <div class="footer__customer__delivery__item savedeli-image"></div>
                    <div class="footer__customer__delivery__item ghn-image"></div>
                    <div class="footer__customer__delivery__item viettelpost-image"></div>
                    <div class="footer__customer__delivery__item vietnampost-image"></div>
                    <div class="footer__customer__delivery__item jtexpress-image"></div>
                    <div class="footer__customer__delivery__item grabexpres-image"></div>
                    <div class="footer__customer__delivery__item ninja-image"></div>
                    <div class="footer__customer__delivery__item bestexpress-image"></div>
                </div>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    THEO DÕI CHÚNG TÔI TRÊN
                </h3>
                <ul class="footer__customer__col__list">
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-facebook"></a>
                        <a href="" class="footer__customer__item__link">
                            Facebook
                        </a>
                    </li>
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-instagram"></a>
                        <a href="" class="footer__customer__item__link">
                            Instagram
                        </a>
                    </li>
                    <li class="footer__customer__list__item footer__customer__social-media">
                        <a href="" class="footer__customer__item__icon fab fa-linkedin"></a>
                        <a href="" class="footer__customer__item__link">
                            Linkedln
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__customer__col">
                <h3 class="footer__customer__col__title">
                    TẢI ỨNG DỤNG SHOPEE NGAY THÔI
                </h3>
                <div class="footer__customer__col__download">
                    <a href="" class="footer__customer__download__qrcode-link">
                        <img src="./images/QRshopee.png" alt="" class="footer__customer__download__qrcode">
                    </a>
                    <span class="footer__customer__download__app">
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/appstore.png" alt="">
                        </a>
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/chplay.png" alt="">
                        </a>
                        <a href="" class="footer__customer__app__link">
                            <img src="./images/gallary.png" alt="">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__site__wrapper grid">
        <div class="footer__site wide">
            <div class="footer__site__copyright">
                © 2021 Shopee. Tất cả các quyền được bảo lưu.
            </div>

            <div class="footer__site__countries">
                Quốc gia & Khu vực:
                <a href="" class="footer__site__countries__link">Singapore</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Indonesia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Đài Loan</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Thái Lan</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Malaysia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Việt Nam</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Philippines</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Brazil</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Mexico</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Colombia</a>
                <span class="footer__site__separate-mark"></span>
                <a href="" class="footer__site__countries__link">Chile</a>
            </div>
        </div>
    </div>

    <div class="footer__prestige__wrapper grid">
        <div class="footer__prestige wide">
            <div class="footer__prestige__policy">
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH BẢO MẬT
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        QUY CHẾ HOẠT ĐỘNG
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH VẬN CHUYỂN
                    </a>
                </div>
                <div class="footer__prestige__policy__link-wrapper">
                    <a href="" class="footer__prestige__policy__link">
                        CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
                    </a>
                </div>
            </div>

            <div class="footer__prestige__ministry">
                <div class="footer__prestige__ministry__image footer__industry"></div>
                <div class="footer__prestige__ministry__image footer__industry"></div>
                <div class="footer__prestige__ministry__image footer__fingerprint"></div>
            </div>

            <p class="footer__prestige__company">
                Công ty TNHH Shopee
            </p>

            <p class="footer__prestige__infomation">
                Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn
                <br>
                Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221 (ext 4678)
                <br>
                Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015
                <br>
                © 2015 - Bản quyền thuộc về Công ty TNHH Shopee
            </p>
        </div>
    </div>

</footer>